@model DBFirstEF.GIANGDAY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GIANGDAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOCKY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCKY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TUNGAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TUNGAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DENNGAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DENNGAY)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>
